/* RESET SELECTION */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Custom Styling Below
*/

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

header {
	height: 64px;
	background: #333;
}

nav {
	overflow: auto;
	/* color: white; */
}

nav a {
	color: white;
}

.nav-container {
	width: 85%;
	margin: auto;
	overflow: auto;
	padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
	padding-bottom: 20px;
	/* display: block; */
}

.logo {
	padding-top: 10px;
	margin-left: 20px;
	width: min-content;
	display: inline-block;
	font-size: 22pt;
}

.logo a:hover {
	text-decoration: none;
	color: #0bf;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
	padding: 20px;
	/* font-size: large; */
}

nav ul li a:hover, nav ul li a.current-page {
	text-decoration: none;
	color: #222;
	background: tomato;
}

footer {
    text-align: center;
    background: #333;
    color: blanchedalmond;
	width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 0;
}

/* showcase home page */
.showcase {
	background: url('../img/construction.jpg') no-repeat center center;
	height: 500px;
	padding: 0 50px;
}

.showcase .showcase-content {
	background: rgba(0,0,0,0.8);
	color: blanchedalmond;
	text-align: center;
	margin-top: 100px;
	padding: 20px;
	border-radius: 30px;
	display: inline-block;
}

.showcase-content .title-header {
	font-size: 2em;
}

.showcase-container {
	max-width: 75%;
	margin: auto;
	overflow: auto;
	padding: 0 20px;
}

.showcase a {
	color: blanchedalmond;
}

.showcase a:hover {
	color: white;
	text-decoration: none;
}
