/*
Custom Styling
*/

html, body {
	background: #222;
	color: lightgray;
	height: 100%;
	width: 100%;
}

#root {
	height: 90%;
}

.caution-container {
	background: repeating-linear-gradient(
		-45deg,
		rgb(97, 97, 18),
		rgb(97, 97, 18) 10px,
		black 10px,
		black 20px
	);
	width: 100%;
}

.error-404 {
	font-size: 44pt;
}

header {
	height: 64px;
	background: #733;
	display: block;
}

nav {
	overflow: auto;
	/* color: white; */
}

nav a {
	color: white;
}

.nav-container {
	width: 85%;
	margin: auto;
	overflow: auto;
	padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
	padding-bottom: 20px;
	/* display: block; */
}

.logo {
	padding-top: 5px;
	margin-left: 20px;
	width: min-content;
	display: inline-block;
	font-size: 26pt;
}

.logo a:hover {
	text-decoration: none;
	color: #0bf;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}

.nav-btn {
	background: none;
	color: white;
}

nav ul li a, .nav-btn {
    display: block;
    text-align: center;
	padding: 20px;
	/* font-size: large; */
	border: 0;
}

nav ul li a:hover, .nav-btn:hover, nav ul li a.current-page, .nav-btn.current-page {
	text-decoration: none;
	color: #222;
	background: tomato;
}

footer {
    text-align: center;
    background: #733;
    color: white;
	width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 0;
}

/* showcase home page */
.showcase {
	background: url('./img/construction.jpg') no-repeat center center;
	height: 500px;
	padding: 0 50px;
}

.showcase .showcase-content {
	background: rgba(0,0,0,0.8);
	color: blanchedalmond;
	text-align: center;
	margin-top: 100px;
	padding: 20px;
	border-radius: 30px;
	display: inline-block;
}

.showcase-content .title-header {
	font-size: 2em;
}

.showcase-container {
	max-width: 75%;
	margin: auto;
	overflow: auto;
	padding: 0 20px;
}

.showcase a {
	color: blanchedalmond;
}

.showcase a:hover {
	color: white;
	text-decoration: none;
}

i.fas {
	margin-right: 10px;
}

/* Employee List Table */
#employee-list {
	width: 90%;
	margin: auto;
	min-height: 600px;
}

#employee-list-title {
	padding-top: 20px;
	text-align: center;
}

#employee-list-table-body {
	text-align: left;
}

#employee-table {
	border-radius: 15px;
}

.no-top-border {
	border-top: none !important;
}
